.main-box-info {
    display: flex;
    height: 40px;
    background: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 14px;
    margin-right: 17px;
    margin-bottom: 5px;
}

.main-box-info-title {
    margin-left: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #737373;
}

.main-box-info-value {
    margin-left: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #737373;
}
