.main-search-container {
    margin: 50px 90px 0px 90px;
    background: #e6f7ff;
    height: 270px;
    border-radius: 20px;
}

.seach-title {
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: #262626;
    padding-top: 66px;
    margin-left: 95px;
}

.search-input {
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 4px;
    width: 676px;
    height: 40px;
    border-radius: 5px;
    font-weight: 400;
    margin-left: 95px;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #585757;
    text-indent: 10px;
    margin-top: 10px;
}

.btn-search {
    margin: 18px 0px 0px 95px;
}

.btn-perfil {
    margin-left: 30px;
    margin-top: 18px;
}

.main-search-result {
    margin: 50px 90px 0px 90px;
    background: #f5f5f5;
    height: 387px;
    border-radius: 10px;
}

.main-search-result {
    display: flex;
}

.main-search-image > img {
    margin-top: 25px;
    margin-left: 30px;
    width: 284px;
    height: 280px;
}

.main-search-info {
    margin-top: 24px;
    margin-left: 44px;
    margin-bottom: 84px;
    margin-right: 23px;
    width: 100%;
 
}

.main-info-number {
    display: flex;
}
.main-info-text-number {
    margin-right: 10px;
    padding-left: 14px;
    padding-right: 14px;
    display: flex;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    color: #595959;
    font-weight: 400;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 5px;
}

.main-info-description {
    height: 247px;
    width: 100%;
    margin-top: 12px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 6px;
}

.main-info-title {
    margin-left: 14px;
    margin-top: 8px;
    margin-bottom: 19px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #1890ff;
}
