.nav-main-menu {
    height: 62px;
    background: #1890ff;
}

.nav-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #ffffff;
    margin-left: 40px;
    padding-top: 15px;
}
.nav-logo-text {
    text-decoration: none;
}